@font-face {
	font-family: League Gothic;
	font-weight: bold;
	src: url("fonts/leaguegothic-regular-webfont.woff");
}

@font-face {
	font-family: Junction;
	src: url("fonts/junction-regular.woff");
}

html, body {
	background-color: lightgrey;
	margin: 0px;
	padding: 0px;
}

.main {
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	min-width: 600px;
}

.outer {
	display: table;
	width: 100%;
}

.inner {
	display: table-cell;
	height: 100%;
	padding: 40px;
	vertical-align: middle;
}

.title {
	font-family: League Gothic, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 30px;
	font-weight: bold;
}

.content.inner {
	color: grey;
	background-color: lightgrey;
	font-family: Junction, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.video-outer {
	position: relative;
	transition: opacity 0.1s;
}

.video-inner {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
}

.video-inner .outer {
	height: 100%;
}

.video-inner .inner {
	width: 100%;
}

.light, .dark {
	color: lightgrey;
}

.light {
	background-color: firebrick;
}

.dark {
	background-color: #911c1c;
}

.invert {
	background-color: lightgrey;
	color: firebrick;
}

.left {
	float: left;
}

.right {
	float: right;
}

.middle {
	text-align: center;
}
